<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include "navbar.html" %}
        <h1>Index</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt corporis consectetur tenetur eos nam provident libero? Deleniti fugiat a, ad minus pariatur autem dicta, ex obcaecati provident ipsam, accusantium repellat.</p>
        <button>contact us</button>
    </div>
</body>
</html>